<div id="site-splash" class="splash-screen" role="dialog" aria-modal="true" aria-label="Loading Tan Bomb">
  <div class="splash-screen__rain" data-splash-rain aria-hidden="true"></div>
  <div class="splash-screen__logo">
    {% render 'logo', context: 'splash' %}
  </div>
</div>
